li {
text-decoration: none;
color:white;
display: inline;
margin: 0px 10px



};

ul{
text-decoration: none;
color: white;
display: inline;
margin:20px;



};
.lists{

    display: flex;
    margin: 20px
};
.logo{
    /* justify-content: center; */
    /* text-align: center; */
    margin:10px 10px;
}
.headerComponent{

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background-color: teal;
    width: "100%";
};

.StyledLink{
    text-decoration: none;
    color: white;
    
};

